/* Custom Stylesheet */

.font_lobster {
  font-family: 'Lobster Two', cursive;
}

.bgColor_gray210 {
  background-color: RGB(210, 210, 210)
}

.width_full {
  width: 100%;
}

/* Padding */

.p_none {
  padding: 0;
}

.p_smallAround {
  padding: 5px;
}

.p_smallVertical {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p_smallHorizontal {
  padding-left: 5px;
  padding-right: 5px;
}

.p_smallTop {
  padding-top: 5px;
}

.p_smallRight {
  padding-right: 5px;
}

.p_smallLeft {
  padding-left: 5px;
}

.p_smallBottom {
  padding-bottom: 5px;
}


.p_mediumAround {
  padding: 10px;
}

.p_mediumVertical {
  padding-top: 10px;
  padding-bottom: 10px;
}

.p_mediumHorizontal {
  padding-left: 10px;
  padding-right: 10px;
}

.p_mediumTop {
  padding-top: 10px;
}

.p_mediumRight {
  padding-right: 10px;
}

.p_mediumLeft {
  padding-left: 10px;
}

.p_mediumBottom {
  padding-bottom: 10px;
}


.p_largeAround {
  padding: 20px;
}

.p_largeVertical {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p_largeHorizontal {
  padding-left: 20px;
  padding-right: 20px;
}

.p_largeTop {
  padding-top: 20px;
}

.p_largeRight {
  padding-right: 20px;
}

.p_largeLeft {
  padding-left: 20px;
}

.p_largeBottom {
  padding-bottom: 20px;
}

/* Margin */

.m_none {
  margin: 0;
}

.m_smallAround {
  margin: 5px;
}

.m_smallVertical {
  margin-top: 5px;
  margin-bottom: 5px;
}

.m_smallHorizontal {
  margin-left: 5px;
  margin-right: 5px;
}

.m_smallTop {
  margin-top: 5px;
}

.m_smallRight {
  margin-right: 5px;
}

.m_smallLeft {
  margin-left: 5px;
}

.m_smallBottom {
  margin-bottom: 5px;
}


.m_mediumAround {
  margin: 10px;
}

.m_mediumVertical {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m_mediumHorizontal {
  margin-left: 10px;
  margin-right: 10px;
}

.m_mediumTop {
  margin-top: 10px;
}

.m_mediumRight {
  margin-right: 10px;
}

.m_mediumLeft {
  margin-left: 10px;
}

.m_mediumBottom {
  margin-bottom: 10px;
}


.m_largeAround {
  margin: 20px;
}

.m_largeVertical {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m_largeHorizontal {
  margin-left: 20px;
  margin-right: 20px;
}

.m_largeTop {
  margin-top: 20px;
}

.m_largeRight {
  margin-right: 20px;
}

.m_largeLeft {
  margin-left: 20px;
}

.m_largeBottom {
  margin-bottom: 20px;
}
