* {
  font-family: Lato;
  font-size: 12px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #795548;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6d4c41;
}

.alert_dismiss,
.change_dismiss {
  float: right;
  margin-top: -30px;
  cursor: pointer;
}

.alert_trigger,
.change_trigger {
  position: fixed;
  right: 10px;
  top: 10px;
}

.change_trigger {
  right: 60px;
}

.alert_message,
.change_message {
  color: white;
  background-color: rgba(0, 0, 0, .2);
  position: fixed;
  border-radius: 10px;
  right: 0;
  padding: 0 20px;
  z-index: 10;
}

.alert_content button {
  border: 0;
  background-color: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.creator img {
  height: 40px;
  border-radius: 20px;
}

.creator {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.creator div {
  display: inline-block;
  font-weight: bold;
  margin-left: 5px;
  font-size: 15px;
}

#parallax {
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100vh;
  background-image:
    url('../assets/Front.png'),
    url('../assets/Mid.png'),
    url('../assets/Back.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}

[type="checkbox"].reset-checkbox,
[type="checkbox"].reset-checkbox:checked,
[type="checkbox"].reset-checkbox:not(checked) {
  opacity: 1;
  position: relative;
}

[type="checkbox"].reset-checkbox+span::before,
[type="checkbox"].reset-checkbox+span::after,
[type="checkbox"].reset-checkbox:checked+span::before,
[type="checkbox"].reset-checkbox:checked+span::after {
  display: none;
}

[type="checkbox"].reset-checkbox+span:not(.lever) {
  padding-left: 10px;
}

.marketPlusIcon {
  font-size: inherit;
}

.filter_tabs li {
  display: inline-block;
  width: calc((100% / 3) - 10px);
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
  color: RGBA(0, 0, 0, .5);
  border-bottom: 4px solid transparent;
}

.filter_tabs i {
  font-size: 20px;
}

.filter_tabs li.selected {
  transition: .3s;
  color: black;
  border-bottom-color: black;
}

.filters label {
  color: black;
  display: inline-block;
  text-align: left;
}

.filters label span {
  padding-left: 5px !important;
}

.filterCategories {
  height: calc(100vh - 200px);
  overflow: auto;
}

.filterCategories div {
  margin-right: 5px;
}

.categ_label {
  border-bottom: 1px solid RGBA(0, 0, 0, 0.5);
  font-size: 20px;
  padding: 0 10px;
  margin: 10px;
  text-align: left;
}

.categ_breedCount #filter_breedCount,
.categ_CE #filter_CE,
.categ_stat #filter_attack,
.categ_stat #filter_defense,
.categ_stat #filter_health,
.categ_stat #filter_speed,
.categ_stat #filter_intellect {
  border: 0 solid transparent !important;
  height: 3px;
}

.categ_breedCount .ui-slider-range,
.categ_CE .ui-slider-range,
.categ_stat .ui-slider-range {
  background-color: #44a3cf;
  border: 0 solid transparent;
}

.categ_bc-container,
.categ_CE-container,
.categ_attack-container,
.categ_defense-container,
.categ_health-container,
.categ_speed-container,
.categ_intellect-container {
  width: calc(100% - 20px);
  margin: 40px auto 0;
}

.categ_breedCount input[type="text"],
.categ_CE input[type="text"],
.categ_stat input[type="text"] {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  width: 20px;
  text-align: center;
  margin: 0 10px;
}

.categ_CE input[type="text"] {
  width: 40px;
}

.categ_bc-container .ui-slider-handle,
.categ_CE-container .ui-slider-handle,
.categ_attack-container .ui-slider-handle,
.categ_defense-container .ui-slider-handle,
.categ_health-container .ui-slider-handle,
.categ_speed-container .ui-slider-handle,
.categ_intellect-container .ui-slider-handle {
  border-radius: 50px;
  margin-top: -3px;
}

.categ_bc-container .ui-state-active,
.categ_CE-container .ui-state-active,
.categ_attack-container .ui-state-active,
.categ_defense-container .ui-state-active,
.categ_health-container .ui-state-active,
.categ_speed-container .ui-state-active,
.categ_intellect-container .ui-state-active {
  background-color: white !important;
  outline: 0;
  border: 3px solid #44a3cf !important;
  height: 20px !important;
  width: 20px !important;
  margin-top: -5px;
}

.bg_overlay {
  background-color: RGBA(0, 0, 0, .2);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.side_bar {
  position: fixed;
  width: 200px;
  display: inline-block;
  background-color: RGBA(255, 255, 255, .5);
  height: 100vh;
  padding: 30px 0;
  text-align: center;
}

.side_bar ul li a {
  padding: 15px 5px;
  width: 100%;
  display: block;
  padding-left: 20px;
  color: black;
  text-align: left;
}

.side_bar ul li a:hover {
  background-color: white;
}

.main_content {
  width: calc(100% - 200px);
  margin-left: 200px;
  padding: 20px;
}

.product_item {
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  width: calc(100% - 10px);
  transition: .3s;
  border: 5px solid white;
  height: 264px;
}

.product_item a.right {
  display: none;
}

.product_item:hover a.right {
  display: inline-block;
}

#products {
  height: calc(100vh - 305px);
  overflow: auto;
}

#products .col {
  padding: 0 !important;
}

.product_item:hover {
  position: relative;
  box-shadow: 0 5px 5px RGBA(0, 0, 0, .2);
}

.product_item:hover .dragon_body .activator {
  height: 160px;
  width: 160px;
  background-size: 160px;
}

.display_block {
  display: block;
}

.product_icons {
  margin-right: 5px;
}

.product_icons i {
  margin-right: 2px;
}

.product_item .product_no,
.product_tag {
  border-radius: 4px;
  padding: 2px 5px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  display: inline-block;
  color: white;
}

.product_item .product_no {
  width: 70px;
}

.dragon_type-fire {
  background-color: #d58047;
}

.dragon_type-water {
  background-color: #44a3cf;
}

.dragon_type-storm {
  background-color: #53b372;
}

.dragon_type-rock {
  background-color: #926b59;
}

.dragon_type-thunder {
  background-color: #d5b32d;
}

.product_item.dragon_type-fireHover:hover {
  background: rgb(213, 128, 71);
  background: linear-gradient(0deg, rgba(213, 128, 71, 1) 0%, rgba(255, 255, 255, 1) 35%);
}

.product_item.dragon_type-waterHover:hover {
  background: rgb(68, 163, 207);
  background: linear-gradient(0deg, rgba(68, 163, 207, 1) 0%, rgba(255, 255, 255, 1) 35%);
}

.product_item.dragon_type-stormHover:hover {
  background: rgb(83, 179, 114);
  background: linear-gradient(0deg, rgba(83, 179, 114, 1) 0%, rgba(255, 255, 255, 1) 35%);
}

.product_item.dragon_type-rockHover:hover {
  background: rgb(146, 107, 89);
  background: linear-gradient(0deg, rgba(146, 107, 89, 1) 0%, rgba(255, 255, 255, 1) 35%);
}

.product_item.dragon_type-thunderHover:hover {
  background: rgb(213, 179, 45);
  background: linear-gradient(0deg, rgba(213, 179, 45, 1) 0%, rgba(255, 255, 255, 1) 35%);
}

.product_tag {
  display: none;
}

.product_tag-rare,
.product_tag-genesis,
.product_tag-mystic,
.product_tag-negative {
  display: inline-block;
  margin-left: 2px;
}

.product_tag-rare {
  background-color: #12b3a8;
}

.product_tag-genesis {
  background-color: #8247d5;
}

@keyframes example {
  0% {
    background-color: red;
  }

  25% {
    background-color: yellow;
  }

  50% {
    background-color: blue;
  }

  100% {
    background-color: green;
  }
}

.product_tag-mystic {
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.product_tag-negative {
  background-color: #707a83;
}

.dragon_body {
  height: 150px;
  position: relative;
}

.dragon_body .activator {
  height: 150px;
  width: 150px;
  left: 0;
  right: 0;
  background-size: 150px;
  position: absolute;
  margin: 0 auto;
  transition: .3s ease-in-out;
}

.product_price {
  margin: 0 auto;
  text-align: center;
}

.product_price a {
  width: 60px;
  padding: 5px 15px;
  border-radius: 50px;
  border: 2px solid #e39b1b;
  color: #e39b1b;
  background-color: white;
  font-weight: bold;
  font-size: 14px;
}

.product_price a img {
  height: 30px;
  margin-bottom: -10px;
  margin-left: -10px;
}

.dragon_body-egg {
  background-size: 80px !important;
  background-position: top right;
  background-repeat: no-repeat;
}

.dragon_egg {
  margin: 32px 0 0;
  height: 154px;
}

.filter_sort .totalDragons {
  font-size: 25px;
  display: inline-block;
}

.filter_sort .selectSortType,
.filter_sort .selectMaxDisplay,
.filter_sort .pages {
  width: 150px;
  display: inline-block;
  font-size: 16px;
}

/*.filter_sort .pages {
  width: calc(100% - 510px);
  text-align: center;
}*/
.filter_sort .input-field>label {
  color: white;
}

.pages .pagination li i {
  font-size: 16px;
}