.dragon-FireDragon {
  background-image: url('DragonParts/Dragon_Fire.png');
}

.dragon-WaterDragon {
  background-image: url('DragonParts/Dragon_Water.png');
}

.dragon-StormDragon {
  background-image: url('DragonParts/Dragon_Storm.png');
}

.dragon-RockDragon {
  background-image: url('DragonParts/Dragon_Rock.png');
}

.dragon-ThunderDragon {
  background-image: url('DragonParts/Dragon_Thunder.png');
}

.dragon-FireDragonEgg {
  background-image: url('DragonParts/Egg_Fire.png');
}

.dragon-WaterDragonEgg {
  background-image: url('DragonParts/Egg_Water.png');
}

.dragon-StormDragonEgg {
  background-image: url('DragonParts/Egg_Storm.png');
}

.dragon-RockDragonEgg {
  background-image: url('DragonParts/Egg_Rock.png');
}

.dragon-ThunderDragonEgg {
  background-image: url('DragonParts/Egg_Thunder.png');
}

.dragon-Obsidian {
  background-image: url('DragonParts/Dragon_Obsidian.png');
}

.dragon-Amber {
  background-image: url('DragonParts/Dragon_Amber.png');
}

.dragon-Pearl {
  background-image: url('DragonParts/Dragon_Pearl.png');
}

.dragon-Oceantears {
  background-image: url('DragonParts/Dragon_Ocean tears.png');
}

.dragon-Sapphire {
  background-image: url('DragonParts/Dragon_Sapphire.png');
}

.dragon-Turtle {
  background-image: url('DragonParts/Dragon_Turtle.png');
}

.dragon-Poseidonmedal {
  background-image: url('DragonParts/Dragon_Poseidon medal.png');
}

.dragon-Starfish {
  background-image: url('DragonParts/Dragon_Starfish.png');
}

.dragon-Frozenconch {
  background-image: url('DragonParts/Dragon_Frozen conch.png');
}

.dragon-Oceangem {
  background-image: url('DragonParts/Dragon_Ocean gem.png');
}

.dragon-Icegem {
  background-image: url('DragonParts/Dragon_Ice gem.png');
}

.dragon-Oceanlights {
  background-image: url('DragonParts/Dragon_Ocean light.png');
}

.dragon-Waves {
  background-image: url('DragonParts/Dragon_Waves.png');
}

.dragon-Oceanhorn {
  background-image: url('DragonParts/Dragon_Ocean horn.png');
}

.dragon-Ice-bluecoral {
  background-image: url('DragonParts/Dragon_Ice-blue coral.png');
}

.dragon-Actinia {
  background-image: url('DragonParts/Dragon_Actinia.png');
}

.dragon-Iceclaws {
  background-image: url('DragonParts/Dragon_Ice claws.png');
}

.dragon-Tentacles {
  background-image: url('DragonParts/Dragon_Tentacles.png');
}

.dragon-Magicalshells {
  background-image: url('DragonParts/Dragon_Magical shells.png');
}

.dragon-Flyingfeathers {
  background-image: url('DragonParts/Dragon_Flying feathers.png');
}

.dragon-Dreamwings {
  background-image: url('DragonParts/Dragon_Dream wings.png');
}

.dragon-Frozenwings {
  background-image: url('DragonParts/Dragon_Frozen wings.png');
}

.dragon-Whalewings {
  background-image: url('DragonParts/Dragon_Whale wings.png');
}

.dragon-Seahorsewings {
  background-image: url('DragonParts/Dragon_Seahorse wings.png');
}

.dragon-Oceanwings {
  background-image: url('DragonParts/Dragon_Ocean wings.png');
}

.dragon-Seasnail {
  background-image: url('DragonParts/Dragon_Sea snail.png');
}

.dragon-Icepick {
  background-image: url('DragonParts/Dragon_Ice pick.png');
}

.dragon-Underseamusic {
  background-image: url('DragonParts/Dragon_Undersea music.png');
}

.dragon-Anchor {
  background-image: url('DragonParts/Dragon_Anchor.png');
}

.dragon-Dreamgem {
  background-image: url('DragonParts/Dragon_Dream gem.png');
}

.dragon-Firewheels {
  background-image: url('DragonParts/Dragon_Fire wheels.png');
}

.dragon-Redpupils {
  background-image: url('DragonParts/Dragon_Red pupils.png');
}

.dragon-Burningheart {
  background-image: url('DragonParts/Dragon_Burning heart.png');
}

.dragon-Burningagate {
  background-image: url('DragonParts/Dragon_Burning agate.png');
}

.dragon-Blazingpupils {
  background-image: url('DragonParts/Dragon_Blazing pupils.png');
}

.dragon-Smallvolcanos {
  background-image: url('DragonParts/Dragon_Small volcanoes.png');
}

.dragon-Flamingstones {
  background-image: url('DragonParts/Dragon_Flaming stones.png');
}

.dragon-Flamingslate {
  background-image: url('DragonParts/Dragon_Flaming slate.png');
}

.dragon-Vulcantotem {
  background-image: url('DragonParts/Dragon_Vulcan totem.png');
}

.dragon-Blazingheart {
  background-image: url('DragonParts/Dragon_Blazing heart.png');
}

.dragon-Flint {
  background-image: url('DragonParts/Dragon_Flint.png');
}

.dragon-Flamestone {
  background-image: url('DragonParts/Dragon_Flame stone.png');
}

.dragon-Lava {
  background-image: url('DragonParts/Dragon_Lava.png');
}

.dragon-Flamecrystal {
  background-image: url('DragonParts/Dragon_Flame crystal.png');
}

.dragon-Burning-ax {
  background-image: url('DragonParts/Dragon_Burning-ax.png');
}

.dragon-Flamingwings {
  background-image: url('DragonParts/Dragon_Flaming wings.png');
}

.dragon-Lavarock {
  background-image: url('DragonParts/Dragon_Lava rock.png');
}

.dragon-Magmaslate {
  background-image: url('DragonParts/Dragon_Magma slate.png');
}

.dragon-Watermelon {
  background-image: url('DragonParts/Dragon_Watermelon.png');
}

.dragon-Fireblade {
  background-image: url('DragonParts/Dragon_Fire blade.png');
}

.dragon-Firewings {
  background-image: url('DragonParts/Dragon_Fire wings.png');
}

.dragon-Blastwings {
  background-image: url('DragonParts/Dragon_Blast wings.png');
}

.dragon-Infernosoulwings {
  background-image: url('DragonParts/Dragon_Inferno soul wings.png');
}

.dragon-Balefirewings {
  background-image: url('DragonParts/Dragon_Balefire wings.png');
}

.dragon-Crimsonwings {
  background-image: url('DragonParts/Dragon_Crimson wings.png');
}

.dragon-Hotstone {
  background-image: url('DragonParts/Dragon_Hot stone.png');
}

.dragon-Meteorite {
  background-image: url('DragonParts/Dragon_Meteorite.png');
}

.dragon-Flaminggrapes {
  background-image: url('DragonParts/Dragon_Flaming grapes.png');
}

.dragon-Redapple {
  background-image: url('DragonParts/Dragon_Red apple.png');
}

.dragon-Pitaya {
  background-image: url('DragonParts/Dragon_Pitaya.png');
}

.dragon-Blackgem {
  background-image: url('DragonParts/Dragon_Black gem.png');
}

.dragon-Shiitake {
  background-image: url('DragonParts/Dragon_Shiitake.png');
}

.dragon-Flush {
  background-image: url('DragonParts/Dragon_Flush.png');
}

.dragon-Diamondplaid {
  background-image: url('DragonParts/Dragon_Diamond plaid.png');
}

.dragon-Joy {
  background-image: url('DragonParts/Dragon_Joy.png');
}

.dragon-Pebbles {
  background-image: url('DragonParts/Dragon_Pebbles.png');
}

.dragon-Grayrocks {
  background-image: url('DragonParts/Dragon_Gray rocks.png');
}

.dragon-Band-Aids {
  background-image: url('DragonParts/Dragon_Band-aids.png');
}

.dragon-Entomolite {
  background-image: url('DragonParts/Dragon_Entomolite.png');
}

.dragon-Blackbeans {
  background-image: url('DragonParts/Dragon_Black beans.png');
}

.dragon-Earthenwall {
  background-image: url('DragonParts/Dragon_Earthen wall.png');
}

.dragon-Icecream {
  background-image: url('DragonParts/Dragon_Ice cream.png');
}

.dragon-Chocolateicecream {
  background-image: url('DragonParts/Dragon_Chocolate ice cream.png');
}

.dragon-Stonemushroom {
  background-image: url('DragonParts/Dragon_Stone mushroom.png');
}

.dragon-Stonehammer {
  background-image: url('DragonParts/Dragon_Stone hammer.png');
}

.dragon-Trefoilplate {
  background-image: url('DragonParts/Dragon_Trefoil plate.png');
}

.dragon-Fishbones {
  background-image: url('DragonParts/Dragon_Fishbones.png');
}

.dragon-Stonehands {
  background-image: url('DragonParts/Dragon_Stone hands.png');
}

.dragon-Pizza {
  background-image: url('DragonParts/Dragon_Pizza.png');
}

.dragon-Christmastrees {
  background-image: url('DragonParts/Dragon_Christmas trees.png');
}

.dragon-Rockwings {
  background-image: url('DragonParts/Dragon_Rock wings.png');
}

.dragon-Batwings {
  background-image: url('DragonParts/Dragon_Bat wings.png');
}

.dragon-Gargoylewings {
  background-image: url('DragonParts/Dragon_Gargoyle wings.png');
}

.dragon-Demonwings {
  background-image: url('DragonParts/Dragon_Demon wings.png');
}

.dragon-Guardianwings {
  background-image: url('DragonParts/Dragon_Guardian wings.png');
}

.dragon-Rockbomb {
  background-image: url('DragonParts/Dragon_Rock bomb.png');
}

.dragon-Pinecone {
  background-image: url('DragonParts/Dragon_Pinecone.png');
}

.dragon-Turtleshell {
  background-image: url('DragonParts/Dragon_Turtle shell.png');
}

.dragon-Seal {
  background-image: url('DragonParts/Dragon_Seal.png');
}

.dragon-Donut {
  background-image: url('DragonParts/Dragon_Donut.png');
}

.dragon-Hawkeye {
  background-image: url('DragonParts/Dragon_Hawkeye.png');
}

.dragon-Vine {
  background-image: url('DragonParts/Dragon_Vine.png');
}

.dragon-Iris {
  background-image: url('DragonParts/Dragon_Iris.png');
}

.dragon-leaf {
  background-image: url('DragonParts/Dragon_Leaf.png');
}

.dragon-Kiwi {
  background-image: url('DragonParts/Dragon_Kiwi.png');
}

.dragon-Bambooleaf {
  background-image: url('DragonParts/Dragon_Bamboo leaf.png');
}

.dragon-Periwinkle {
  background-image: url('DragonParts/Dragon_Periwinkle.png');
}

.dragon-Waterlotus {
  background-image: url('DragonParts/Dragon_Water lotus.png');
}

.dragon-Ladybug {
  background-image: url('DragonParts/Dragon_Ladybug.png');
}

.dragon-Petals {
  background-image: url('DragonParts/Dragon_Petals.png');
}

.dragon-Greenapple {
  background-image: url('DragonParts/Dragon_Green apple.png');
}

.dragon-Thorns {
  background-image: url('DragonParts/Dragon_Thorns.png');
}

.dragon-Bud {
  background-image: url('DragonParts/Dragon_Bud.png');
}

.dragon-Cactus {
  background-image: url('DragonParts/Dragon_Cactus.png');
}

.dragon-Fattymushroom {
  background-image: url('DragonParts/Dragon_Fatty mushroom.png');
}

.dragon-Evergreenleaves {
  background-image: url('DragonParts/Dragon_Evergreen leaves.png');
}

.dragon-Greenleaves {
  background-image: url('DragonParts/Dragon_Green leaves.png');
}

.dragon-Pea {
  background-image: url('DragonParts/Dragon_Pea.png');
}

.dragon-Lily {
  background-image: url('DragonParts/Dragon_Lily.png');
}

.dragon-Thorny {
  background-image: url('DragonParts/Dragon_Thorny.png');
}

.dragon-Dragonflywings {
  background-image: url('DragonParts/Dragon_Dragonfly wings.png');
}

.dragon-Colorfulwings {
  background-image: url('DragonParts/Dragon_Colorful wings.png');
}

.dragon-Stranglingwings {
  background-image: url('DragonParts/Dragon_Strangling Wings.png');
}

.dragon-Greenvineswings {
  background-image: url('DragonParts/Dragon_Green vines wings.png');
}

.dragon-Spotwings {
  background-image: url('DragonParts/Dragon_Spot wings.png');
}

.dragon-Shoots {
  background-image: url('DragonParts/Dragon_Shoots.png');
}

.dragon-Venusaur {
  background-image: url('DragonParts/Dragon_Venusaur.png');
}

.dragon-Springbud {
  background-image: url('DragonParts/Dragon_Spring bud.png');
}

.dragon-Tastymushroom {
  background-image: url('DragonParts/Dragon_Tasty mushroom.png');
}

.dragon-Carambola {
  background-image: url('DragonParts/Dragon_Carambola.png');
}

.dragon-Thunderstone {
  background-image: url('DragonParts/Dragon_Thunder stone.png');
}

.dragon-Viciouspupils {
  background-image: url('DragonParts/Dragon_Vicious pupils.png');
}

.dragon-Pentagonalbiscuit {
  background-image: url('DragonParts/Dragon_Pentagonal biscuit.png');
}

.dragon-Sparklingpupils {
  background-image: url('DragonParts/Dragon_Sparkling pupils.png');
}

.dragon-Lightningpupils {
  background-image: url('DragonParts/Dragon_Lightning pupils.png');
}

.dragon-Stabs {
  background-image: url('DragonParts/Dragon_Stabs.png');
}

.dragon-Ancestraltotems {
  background-image: url('DragonParts/Dragon_Ancestral totems.png');
}

.dragon-Ancientmedal {
  background-image: url('DragonParts/Dragon_Ancient medal.png');
}

.dragon-Star {
  background-image: url('DragonParts/Dragon_Star.png');
}

.dragon-Timetotem {
  background-image: url('DragonParts/Dragon_Time totem.png');
}

.dragon-Magicalhorn {
  background-image: url('DragonParts/Dragon_Magical horn.png');
}

.dragon-Lemon {
  background-image: url('DragonParts/Dragon_Lemon.png');
}

.dragon-Goldenhorn {
  background-image: url('DragonParts/Dragon_Golden horn.png');
}

.dragon-Cheese {
  background-image: url('DragonParts/Dragon_Cheese.png');
}

.dragon-Ophidiansteelplate {
  background-image: url('DragonParts/Dragon_Ophidian steel plate.png');
}

.dragon-Goldenfins {
  background-image: url('DragonParts/Dragon_Golden fins.png');
}

.dragon-Feathers {
  background-image: url('DragonParts/Dragon_Feathers.png');
}

.dragon-Plushears {
  background-image: url('DragonParts/Dragon_Plush ears.png');
}

.dragon-Lightfeathers {
  background-image: url('DragonParts/Dragon_Light feathers.png');
}

.dragon-Butterfly {
  background-image: url('DragonParts/Dragon_Butterfly.png');
}

.dragon-Fiercewings {
  background-image: url('DragonParts/Dragon_Fierce wings.png');
}

.dragon-Lightningwings {
  background-image: url('DragonParts/Dragon_Lightning wings.png');
}

.dragon-Sharpwings {
  background-image: url('DragonParts/Dragon_Sharp wings.png');
}

.dragon-Torchwings {
  background-image: url('DragonParts/Dragon_Torch wings.png');
}

.dragon-Deathwings {
  background-image: url('DragonParts/Dragon_Death wings.png');
}

.dragon-Lightningtail {
  background-image: url('DragonParts/Dragon_Lightning tail.png');
}

.dragon-Bomb {
  background-image: url('DragonParts/Dragon_Bomb.png');
}

.dragon-Bell {
  background-image: url('DragonParts/Dragon_Bell.png');
}

.dragon-Goldencheess {
  background-image: url('DragonParts/Dragon_Golden cheese.png');
}

.dragon-Thunderbomb {
  background-image: url('DragonParts/Dragon_Thunder bomb.png');
}

/**/
.part-Obsidian {
  background-image: url('Parts/Dragon_Obsidian.png');
}

.part-Amber {
  background-image: url('Parts/Dragon_Amber.png');
}

.part-Pearl {
  background-image: url('Parts/Dragon_Pearl.png');
}

.part-Oceantears {
  background-image: url('Parts/Dragon_Ocean tears.png');
}

.part-Sapphire {
  background-image: url('Parts/Dragon_Sapphire.png');
}

.part-Turtle {
  background-image: url('Parts/Dragon_Turtle.png');
}

.part-Poseidonmedal {
  background-image: url('Parts/Dragon_Poseidon medal.png');
}

.part-Starfish {
  background-image: url('Parts/Dragon_Starfish.png');
}

.part-Frozenconch {
  background-image: url('Parts/Dragon_Frozen conch.png');
}

.part-Oceangem {
  background-image: url('Parts/Dragon_Ocean gem.png');
}

.part-Icegem {
  background-image: url('Parts/Dragon_Ice gem.png');
}

.part-Oceanlights {
  background-image: url('Parts/Dragon_Ocean light.png');
}

.part-Waves {
  background-image: url('Parts/Dragon_Waves.png');
}

.part-Oceanhorn {
  background-image: url('Parts/Dragon_Ocean horn.png');
}

.part-Ice-bluecoral {
  background-image: url('Parts/Dragon_Ice-blue coral.png');
}

.part-Actinia {
  background-image: url('Parts/Dragon_Actinia.png');
}

.part-Iceclaws {
  background-image: url('Parts/Dragon_Ice claws.png');
}

.part-Tentacles {
  background-image: url('Parts/Dragon_Tentacles.png');
}

.part-Magicalshells {
  background-image: url('Parts/Dragon_Magical shells.png');
}

.part-Flyingfeathers {
  background-image: url('Parts/Dragon_Flying feathers.png');
}

.part-Dreamwings {
  background-image: url('Parts/Dragon_Dream wings.png');
}

.part-Frozenwings {
  background-image: url('Parts/Dragon_Frozen wings.png');
}

.part-Whalewings {
  background-image: url('Parts/Dragon_Whale wings.png');
}

.part-Seahorsewings {
  background-image: url('Parts/Dragon_Seahorse wings.png');
}

.part-Oceanwings {
  background-image: url('Parts/Dragon_Ocean wings.png');
}

.part-Seasnail {
  background-image: url('Parts/Dragon_Sea snail.png');
}

.part-Icepick {
  background-image: url('Parts/Dragon_Ice pick.png');
}

.part-Underseamusic {
  background-image: url('Parts/Dragon_Undersea music.png');
}

.part-Anchor {
  background-image: url('Parts/Dragon_Anchor.png');
}

.part-Dreamgem {
  background-image: url('Parts/Dragon_Dream gem.png');
}

.part-Firewheels {
  background-image: url('Parts/Dragon_Fire wheels.png');
}

.part-Redpupils {
  background-image: url('Parts/Dragon_Red pupils.png');
}

.part-Burningheart {
  background-image: url('Parts/Dragon_Burning heart.png');
}

.part-Burningagate {
  background-image: url('Parts/Dragon_Burning agate.png');
}

.part-Blazingpupils {
  background-image: url('Parts/Dragon_Blazing pupils.png');
}

.part-Smallvolcanos {
  background-image: url('Parts/Dragon_Small volcanoes.png');
}

.part-Flamingstones {
  background-image: url('Parts/Dragon_Flaming stones.png');
}

.part-Flamingslate {
  background-image: url('Parts/Dragon_Flaming slate.png');
}

.part-Vulcantotem {
  background-image: url('Parts/Dragon_Vulcan totem.png');
}

.part-Blazingheart {
  background-image: url('Parts/Dragon_Blazing heart.png');
}

.part-Flint {
  background-image: url('Parts/Dragon_Flint.png');
}

.part-Flamestone {
  background-image: url('Parts/Dragon_Flame stone.png');
}

.part-Lava {
  background-image: url('Parts/Dragon_Lava.png');
}

.part-Flamecrystal {
  background-image: url('Parts/Dragon_Flame crystal.png');
}

.part-Burning-ax {
  background-image: url('Parts/Dragon_Burning-ax.png');
}

.part-Flamingwings {
  background-image: url('Parts/Dragon_Flaming wings.png');
}

.part-Lavarock {
  background-image: url('Parts/Dragon_Lava rock.png');
}

.part-Magmaslate {
  background-image: url('Parts/Dragon_Magma slate.png');
}

.part-Watermelon {
  background-image: url('Parts/Dragon_Watermelon.png');
}

.part-Fireblade {
  background-image: url('Parts/Dragon_Fire blade.png');
}

.part-Firewings {
  background-image: url('Parts/Dragon_Fire wings.png');
}

.part-Blastwings {
  background-image: url('Parts/Dragon_Blast wings.png');
}

.part-Infernosoulwings {
  background-image: url('Parts/Dragon_Inferno soul wings.png');
}

.part-Balefirewings {
  background-image: url('Parts/Dragon_Balefire wings.png');
}

.part-Crimsonwings {
  background-image: url('Parts/Dragon_Crimson wings.png');
}

.part-Hotstone {
  background-image: url('Parts/Dragon_Hot stone.png');
}

.part-Meteorite {
  background-image: url('Parts/Dragon_Meteorite.png');
}

.part-Flaminggrapes {
  background-image: url('Parts/Dragon_Flaming grapes.png');
}

.part-Redapple {
  background-image: url('Parts/Dragon_Red apple.png');
}

.part-Pitaya {
  background-image: url('Parts/Dragon_Pitaya.png');
}

.part-Blackgem {
  background-image: url('Parts/Dragon_Black gem.png');
}

.part-Shiitake {
  background-image: url('Parts/Dragon_Shiitake.png');
}

.part-Flush {
  background-image: url('Parts/Dragon_Flush.png');
}

.part-Diamondplaid {
  background-image: url('Parts/Dragon_Diamond plaid.png');
}

.part-Joy {
  background-image: url('Parts/Dragon_Joy.png');
}

.part-Pebbles {
  background-image: url('Parts/Dragon_Pebbles.png');
}

.part-Grayrocks {
  background-image: url('Parts/Dragon_Gray rocks.png');
}

.part-Band-Aids {
  background-image: url('Parts/Dragon_Band-aids.png');
}

.part-Entomolite {
  background-image: url('Parts/Dragon_Entomolite.png');
}

.part-Blackbeans {
  background-image: url('Parts/Dragon_Black beans.png');
}

.part-Earthenwall {
  background-image: url('Parts/Dragon_Earthen wall.png');
}

.part-Icecream {
  background-image: url('Parts/Dragon_Ice cream.png');
}

.part-Chocolateicecream {
  background-image: url('Parts/Dragon_Chocolate ice cream.png');
}

.part-Stonemushroom {
  background-image: url('Parts/Dragon_Stone mushroom.png');
}

.part-Stonehammer {
  background-image: url('Parts/Dragon_Stone hammer.png');
}

.part-Trefoilplate {
  background-image: url('Parts/Dragon_Trefoil plate.png');
}

.part-Fishbones {
  background-image: url('Parts/Dragon_Fishbones.png');
}

.part-Stonehands {
  background-image: url('Parts/Dragon_Stone hands.png');
}

.part-Pizza {
  background-image: url('Parts/Dragon_Pizza.png');
}

.part-Christmastrees {
  background-image: url('Parts/Dragon_Christmas trees.png');
}

.part-Rockwings {
  background-image: url('Parts/Dragon_Rock wings.png');
}

.part-Batwings {
  background-image: url('Parts/Dragon_Bat wings.png');
}

.part-Gargoylewings {
  background-image: url('Parts/Dragon_Gargoyle wings.png');
}

.part-Demonwings {
  background-image: url('Parts/Dragon_Demon wings.png');
}

.part-Guardianwings {
  background-image: url('Parts/Dragon_Guardian wings.png');
}

.part-Rockbomb {
  background-image: url('Parts/Dragon_Rock bomb.png');
}

.part-Pinecone {
  background-image: url('Parts/Dragon_Pinecone.png');
}

.part-Turtleshell {
  background-image: url('Parts/Dragon_Turtle shell.png');
}

.part-Seal {
  background-image: url('Parts/Dragon_Seal.png');
}

.part-Donut {
  background-image: url('Parts/Dragon_Donut.png');
}

.part-Hawkeye {
  background-image: url('Parts/Dragon_Hawkeye.png');
}

.part-Vine {
  background-image: url('Parts/Dragon_Vine.png');
}

.part-Iris {
  background-image: url('Parts/Dragon_Iris.png');
}

.part-leaf {
  background-image: url('Parts/Dragon_Leaf.png');
}

.part-Kiwi {
  background-image: url('Parts/Dragon_Kiwi.png');
}

.part-Bambooleaf {
  background-image: url('Parts/Dragon_Bamboo leaf.png');
}

.part-Periwinkle {
  background-image: url('Parts/Dragon_Periwinkle.png');
}

.part-Waterlotus {
  background-image: url('Parts/Dragon_Water lotus.png');
}

.part-Ladybug {
  background-image: url('Parts/Dragon_Ladybug.png');
}

.part-Petals {
  background-image: url('Parts/Dragon_Petals.png');
}

.part-Greenapple {
  background-image: url('Parts/Dragon_Green apple.png');
}

.part-Thorns {
  background-image: url('Parts/Dragon_Thorns.png');
}

.part-Bud {
  background-image: url('Parts/Dragon_Bud.png');
}

.part-Cactus {
  background-image: url('Parts/Dragon_Cactus.png');
}

.part-Fattymushroom {
  background-image: url('Parts/Dragon_Fatty mushroom.png');
}

.part-Evergreenleaves {
  background-image: url('Parts/Dragon_Evergreen leaves.png');
}

.part-Greenleaves {
  background-image: url('Parts/Dragon_Green leaves.png');
}

.part-Pea {
  background-image: url('Parts/Dragon_Pea.png');
}

.part-Lily {
  background-image: url('Parts/Dragon_Lily.png');
}

.part-Thorny {
  background-image: url('Parts/Dragon_Thorny.png');
}

.part-Dragonflywings {
  background-image: url('Parts/Dragon_Dragonfly wings.png');
}

.part-Colorfulwings {
  background-image: url('Parts/Dragon_Colorful wings.png');
}

.part-Stranglingwings {
  background-image: url('Parts/Dragon_Strangling Wings.png');
}

.part-Greenvineswings {
  background-image: url('Parts/Dragon_Green vines wings.png');
}

.part-Spotwings {
  background-image: url('Parts/Dragon_Spot wings.png');
}

.part-Shoots {
  background-image: url('Parts/Dragon_Shoots.png');
}

.part-Venusaur {
  background-image: url('Parts/Dragon_Venusaur.png');
}

.part-Springbud {
  background-image: url('Parts/Dragon_Spring bud.png');
}

.part-Tastymushroom {
  background-image: url('Parts/Dragon_Tasty mushroom.png');
}

.part-Carambola {
  background-image: url('Parts/Dragon_Carambola.png');
}

.part-Thunderstone {
  background-image: url('Parts/Dragon_Thunder stone.png');
}

.part-Viciouspupils {
  background-image: url('Parts/Dragon_Vicious pupils.png');
}

.part-Pentagonalbiscuit {
  background-image: url('Parts/Dragon_Pentagonal biscuit.png');
}

.part-Sparklingpupils {
  background-image: url('Parts/Dragon_Sparkling pupils.png');
}

.part-Lightningpupils {
  background-image: url('Parts/Dragon_Lightning pupils.png');
}

.part-Stabs {
  background-image: url('Parts/Dragon_Stabs.png');
}

.part-Ancestraltotems {
  background-image: url('Parts/Dragon_Ancestral totems.png');
}

.part-Ancientmedal {
  background-image: url('Parts/Dragon_Ancient medal.png');
}

.part-Star {
  background-image: url('Parts/Dragon_Star.png');
}

.part-Timetotem {
  background-image: url('Parts/Dragon_Time totem.png');
}

.part-Magicalhorn {
  background-image: url('Parts/Dragon_Magical horn.png');
}

.part-Lemon {
  background-image: url('Parts/Dragon_Lemon.png');
}

.part-Goldenhorn {
  background-image: url('Parts/Dragon_Golden horn.png');
}

.part-Cheese {
  background-image: url('Parts/Dragon_Cheese.png');
}

.part-Ophidiansteelplate {
  background-image: url('Parts/Dragon_Ophidian steel plate.png');
}

.part-Goldenfins {
  background-image: url('Parts/Dragon_Golden fins.png');
}

.part-Feathers {
  background-image: url('Parts/Dragon_Feathers.png');
}

.part-Plushears {
  background-image: url('Parts/Dragon_Plush ears.png');
}

.part-Lightfeathers {
  background-image: url('Parts/Dragon_Light feathers.png');
}

.part-Butterfly {
  background-image: url('Parts/Dragon_Butterfly.png');
}

.part-Fiercewings {
  background-image: url('Parts/Dragon_Fierce wings.png');
}

.part-Lightningwings {
  background-image: url('Parts/Dragon_Lightning wings.png');
}

.part-Sharpwings {
  background-image: url('Parts/Dragon_Sharp wings.png');
}

.part-Torchwings {
  background-image: url('Parts/Dragon_Torch wings.png');
}

.part-Deathwings {
  background-image: url('Parts/Dragon_Death wings.png');
}

.part-Lightningtail {
  background-image: url('Parts/Dragon_Lightning tail.png');
}

.part-Bomb {
  background-image: url('Parts/Dragon_Bomb.png');
}

.part-Bell {
  background-image: url('Parts/Dragon_Bell.png');
}

.part-Goldencheess {
  background-image: url('Parts/Dragon_Golden cheese.png');
}

.part-Thunderbomb {
  background-image: url('Parts/Dragon_Thunder bomb.png');
}